body {
    font-family: Arial, sans-serif;
    background-color: var(--color-primary) !important;
    color: var(--color-text) !important;
    margin: 20px;
  }
  
  /* Dashboard Styling */
  #sidebar {
    border-radius: 0.8rem;
    box-shadow: 0 0 15px rgba(131, 131, 131, 0.5);
    background-color: var(--color-surface) !important;
  }
  .mb-3{
    text-align: center;
    font-size: large;
    text-decoration-style: solid !important; 
    padding-top: calc(var(--padding-base) + 0.7rem);

  }
  
  #contentbar {
    border-radius: 0.8rem;
    box-shadow: 0 0 15px rgba(131, 131, 131, 0.5);
    background-color: var(--color-surface) !important;
  }
  #sidebar-btn {
    min-height: calc(100% + 10px);
    color: var(--color-text) !important;
    border-radius: 0.8rem;
    padding: var(--padding-base);
    padding-left: 1rem;
    transition: all 0.01s ease-in-out;
  }

  #sidebar-btn:hover{
    border: 0;
  }
  
  #topbar-nav{
    border-color: var(--color-primary);
    background-color: var(--color-surface) !important;
  }

  #topbar-cont {
    margin-bottom: -15px;
    padding-left: 60px;
  }
  
  #topbar-btn {
    min-height: calc(100% + 5px);
    min-width: calc(100% + 10px);
    color: var(--color-text) !important;
    border-radius: 0.8rem 0.8rem 0 0;
    box-shadow: 0 0 5px rgba(131, 131, 131);
    transition: all 0.01s ease-in-out;

  }
  #topbar-btn:hover{
    border: 0;
  }
  
  #bell-icon {
    fill: var(--color-secondary) !important;
    width: 20px;
  }
  
  /*Users Tab Styling*/
  #add-person-icon{
    width: 25px;
    height: 25px;
    color: var(--color-primary);
  }
  
  #add-person-btn{
    background-color: transparent !important;
    border: 0;

  }

  #card-cont{
  }
  /* Secondary Button Styling (override Bootstrap) */
  .btn-secondary{
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary);
  }
  #sidebar-btn.btn-secondary {
    color: var(--color-text-light) !important;
  }
  
  #topbar-btn.btn-secondary{
    min-height: calc(100% + 6px);
    color: var(--color-text-light) !important;
    box-shadow: 0 0 0px var(--color-primary);
  }

  .form-control{
    border: 1px, solid, black;
    border-radius: 20px;
  }
