:root {
  /* Primary Colors */
  --color-primary: #007BFF;
  --color-secondary: #6C757D;
  --color-accent: #17A2B8;

  /* Background & Surfaces */
  --color-surface: #FFFFFF;
  --color-bg:rgb(224, 224, 224);

  /* Text */
  --color-text: #212529;
  --color-text-light: white;
  --color-text-muted: #6C757D;

  /* Status Colors */
  --color-success: #28A745;
  --color-warning: #FFC107;
  --color-danger: #DC3545;
  --color-info: #17A2B8;

  /* Special Elements */


  /* Spacing */
  --padding-base: 0.5rem;
}

body.dark {
  --color-primary: #1A1A1A;
  --color-surface: #2C2C2C;
  --color-text: #EDEDED;
}
